<a class="brand-mark" asp-area="" asp-controller="Home" asp-action="Index">
    <img class="brand-mark__logo" src="~/images/logo.png" alt="" width="96" height="96" />
    <span class="brand-mark__text">
        <strong>Darwin Lingua</strong>
        <span>Practical German</span>
    </span>
</a>
