DARWINLINGUA_POSTGRES_DB=darwinlingua_shared
DARWINLINGUA_POSTGRES_SUPER_USER=postgres
DARWINLINGUA_POSTGRES_SUPER_PASSWORD=CHANGE_ME_SUPERUSER_PASSWORD
DARWINLINGUA_POSTGRES_APP_USER=darwinlingua_app
DARWINLINGUA_POSTGRES_APP_PASSWORD=CHANGE_ME_APP_PASSWORD
DARWINLINGUA_POSTGRES_ADMIN_USER=darwinlingua_admin
DARWINLINGUA_POSTGRES_ADMIN_PASSWORD=CHANGE_ME_ADMIN_PASSWORD
DARWINLINGUA_PGADMIN_EMAIL=admin@darwinlingua.local
DARWINLINGUA_PGADMIN_PASSWORD=CHANGE_ME_PGADMIN_PASSWORD
DARWINLINGUA_TIMEZONE=Europe/Berlin
